<div class="animation-container">
    <button type="submit" class="search-field personal-button js-events-btn">
        <img src="../../images/header/event.svg" width="20px" height="20px" alt="">
    </button>

    <h3 class="animation-title">Events</h3>
</div>

<div class="animation-container">
    <button type="submit" class="search-field personal-button js-tickets-btn">
        <img src="../../images/header/tickets.svg" width="35px" height="35px" alt="">
    </button>
    
    <h3 class="animation-title">Tickets</h3>
</div>
