<form class='login-wrap animate__animated animate__zoomIn' data-attr='signForm'>
  <div class='login-html'>
    <input id='tab-1' type='radio' name='tab' class='sign-in' checked /><label
      for='tab-1'
      class='tab'
    >Sign In</label>
    <input id='tab-2' type='radio' name='tab' class='sign-up' /><label
      for='tab-2'
      class='tab'
    >Sign Up</label>
    <div class='login-form'>
      <div class='sign-in-htm'>
        <div class='group'>
          <label for='user' class='label'>Email Address</label>
          {{! <input class="input" type="email" name="mail" placeholder="Akunadjvili2@gmail.com" required> }}
          <input
            id='user'
            type='email'
            class='input margin-bottom'
            name='emailIn'
            value='Akunadjvili2@gmail.com'
          />
        </div>
        <div class='group'>
          <label for='pass' class='label'>Password</label>
          <input
            id='pass'
            type='password'
            class='input'
            data-type='password'
            name='passwordIn'
            value='1er65fgwer68f46wer'
            {{! placeholder='. . . . . . . . . . ' }}
          />
        </div>

        <div class='flex'>
          <input type='submit' class='btn' value='Sign In' data-attr='signIn' />
          <button class='btn ' data-attr="googleIn"><span class="btn-google">Google</span> </button>
        </div>

      </div>
      <div class='sign-up-htm'>
        <div class='group'>
          <label for='email' class='label'>Email Address</label>
          <input
            id='email'
            type='email'
            class='input margin-bottom'
            name='emailUp'
            value='Akunadjvili2@gmail.com'
          />
        </div>
        <div class='group'>
          <label for='pass-sign-up' class='label'>Password</label>
          <input
            id='pass-sign-up'
            type='password'
            class='input'
            data-type='password'
            name='passwordUp'
            value='1er65fgwer68f46wer'
          />
        </div>
        <div class='flex'>
          <input type='submit' class='btn' value='Sign Up' data-attr='signUp' />
          <button class='btn google' data-attr="googleUp"><span class="btn-google">Google</span></button>
        </div>

      </div>
    </div>

    <button type="button" class="modal__button modal__event_close " data-action="close-modal-custom">
      <svg style="pointer-events: none;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"
          fill="#dc56c5" />
        <path d="M0 0h24v24H0z" fill="none">
    
      </svg>
    </button>
  </div>
</form>