<div class="hiden-container">
    <h2 class="reg-tittle">Email: {{email}}</h2>
    <button class="reg-button" data-attr="signOut">Sign out</button>
</div>
<img src="../../images/header/user.png" width="50px" height="50px" alt="">
<div class="personal-account-container js-personal-account">
        
</div>