<div class="team">
    <h2 class="team-title">Our team</h2>
    <ul class="team-list">
        {{#each}}
        <li class="team-member">
            <img class="team-member-img" src="" alt="photo of {{Name}}">
            <h3 class="team-member-name">{{Name}}</h3>
            <a class="team-member-link">{{link}}</a>
        </li>
    </ul>
</div>