.clearfix:after,
.clearfix:before {
  content: '';
  display: table;
}

.clearfix:after {
  clear: both;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

.login-wrap {
  position: relative;
  width: 500px;
  margin: auto;
  max-width: 310px;
  min-height: 370px;
  position: relative;
  top: 10%;
  $gradient: linear-gradient(
    to right,
    $header-background-overlay,
    $header-background-overlay
  );
  background: $main-top-background-overlay;

  background-size: cover;
  background-position: left;
  border-radius: 150px 0px 150px 0px;

  margin: 0;
  font: 500 10px/12px $white;
  text-transform: uppercase;
  color: $decoration-color;
  // background: $main-top-background-overlay;

  @media screen and (max-width: $tablet - 1) {
    background-image: $gradient, url('@images/mobile/pic.jpg');
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: $gradient, url('@images/mobile/pic@2x.jpg');
    }
    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 2dppx) {
      background-image: $gradient, url('@images/mobile/pic@3x.jpg');
    }
  }

  @media screen and (min-width: $tablet) {
    font: 500 12px/14px $primary-font;
    max-width: 425px;
    min-height: 475px;
    border-radius: 200px 0px 200px 0px;
    background-image: $gradient, url('@images/tablet/pic.jpg');
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: $gradient, url('@images/tablet/pic@2x.jpg');
    }
    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 2dppx) {
      background-image: $gradient, url('@images/tablet/pic@3x.jpg');
    }
  }

  @media screen and (min-width: $desktop) {
    max-width: 630px;
    min-height: 630px;
    background-image: $gradient, url('@images/desktop/pic.jpg');
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: $gradient, url('@images/desktop/pic@2x.jpg');
    }
    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 2dppx) {
      background-image: $gradient, url('@images/desktop/pic@3x.jpg');
    }
  }
}

.login-html {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 70px 10px 70px 10px;

  text-align: center;

  @media screen and (min-width: $tablet) {
    padding: 120px 60px 50px 60px;
  }
  @media screen and (min-width: $desktop) {
    padding: 140px 60px 50px 60px;
  }
}

.login-html .sign-in-htm,
.login-html .sign-up-htm {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: all 0.4s linear;
}

.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check {
  display: none;
}

.login-html .tab,
.login-form .group .label,
.login-form .group .button {
  text-transform: uppercase;
}

.login-html .tab {
  text-align: center;
  align-items: center;
  font-size: 16px;

  // margin-right: 15px;
  padding-bottom: 5px;
  margin: 0 20px 30px 0;
  display: inline-block;
  border-bottom: 3px solid transparent;
  @media screen and (min-width: $tablet) {
    margin: 0 30px 0 0;
    font-size: 18px;
  }
  @media screen and (min-width: $desktop) {
    margin: 0 40px 0 0;
    font-size: 24px;
  }
}

.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab {
  color: $white;
  border-color: $text-accent-color;
}

.login-form {
  min-height: 300px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  max-width: 400px;
  width: 100%;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $tablet) {
    position: absolute;
    // top: 55%;
    // left: 50%;
    opacity: 1;
    top: 70%;
    left: 50%;
    max-width: 400px;
    width: 100%;
    transform: translate(-50%, -50%) scale(1) rotate(0deg);
    transition: transform, opacity $trans-duration,
      $trans-duration $trans-function;
  }

  @media screen and (min-width: $desktop) {
    top: 60%;
    left: 50%;
    max-width: 528px;
    width: 100%;
  }
}

.login-form .input {
  position: relative;
}

.login-form .group:not(:last-child) {
  margin-bottom: 20px;
}

.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
  min-width: 200px;
  width: 90%;
  color: $white;
  display: block;

  @media screen and (min-width: $tablet) {
    width: 100%;
  }
}

.login-form .group .input,
.login-form .group .button {
  border: none;
  height: 28px;
  padding: 5px 20px;
  margin-right: auto;
  margin-left: auto;
  font-size: 12px;

  border-radius: 50px 0;
  background: $card-border-color;

  @media screen and (min-width: $tablet) {
    width: 300px;
    height: 34px;
    padding: 5px 20px;
    font-size: 14px;
  }
  @media screen and (min-width: $desktop) {
    width: 400px;
    height: 44px;
    padding: 5px 20px;
    font-size: 18px;
  }
}

.login-form .group input[data-type='password'] {
  //   text-security: circle;
  -webkit-text-security: circle;
}

.login-form .group .label {
  margin-bottom: 10px;
  color: $decoration-color;
  font-size: 10px;

  @media screen and (min-width: $tablet) {
    font-size: 12px;
    margin-bottom: 10px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 16px;
    margin-bottom: 20px;
  }
}

input::placeholder {
  color: $white;
  // text-align: center;
}

.login-form .group .button {
  background: $text-accent-color;
}

.login-form .group label .icon {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  position: relative;
  display: inline-block;
  background: $card-background-overlay2;
}

.login-form .group label .icon:before,
.login-form .group label .icon:after {
  content: '';
  width: 10px;
  height: 2px;
  background: $white;
  position: absolute;
  transition: $trans-function;
}

.login-form .group label .icon:before {
  left: 3px;
  width: 5px;
  bottom: 6px;
  transform: scale(0) rotate(0);
}

.login-form .group label .icon:after {
  top: 6px;
  right: 0;
  transform: scale(0) rotate(0);
}

.login-form .group .check:checked + label {
  color: $white;
  font-size: 10px;

  @media screen and (min-width: $tablet) {
    font-size: 14px;
  }
}

.login-form .group .check:checked + label .icon {
  background: $text-accent-color;
}

.login-form .group .check:checked + label .icon:before {
  transform: scale(1) rotate(45deg);
}

.login-form .group .check:checked + label .icon:after {
  transform: scale(1) rotate(-45deg);
}

.login-html
  .sign-in:checked
  + .tab
  + .sign-up
  + .tab
  + .login-form
  .sign-in-htm {
  transform: rotate(0);
}

.login-html .sign-up:checked + .tab + .login-form .sign-up-htm {
  transform: rotate(0);
}

.foot-lnk {
  text-align: center;
}

.margin-bottom {
  margin-bottom: 10px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 40px;
  }
}

.btn {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 700;
  height: 28px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 12px;
  line-height: 1.7;
  color: $text-accent-color;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px 0px 50px 0px;
  // border-radius: 20px;
  border: transparent;
  outline: none;
  cursor: pointer;

  @media screen and (min-width: $tablet) {
    height: 34px;

    padding-left: 30px;
    padding-right: 30px;

    line-height: 1.25;
    font-size: 14px;
  }

  @media screen and (min-width: $desktop) {
    height: 44px;

    padding-left: 40px;
    padding-right: 40px;

    font-size: 16px;
  }
}

.btn.google::before {
  display: block;
  content: '';
  height: 28px;
  width: 40px;
  background-size: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;

  fill: $text-accent-color;
  background-image: url('@images/icon-google.svg');
  @media screen and (min-width: $tablet) {
    height: 34px;
    width: 50px;
    background-size: 50px;
  }
  @media screen and (min-width: $desktop) {
    height: 44px;
    width: 60px;
    background-size: 60px;
  }
}

.flex {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  @media screen and (min-width: $tablet) {
    margin-top: 40px;
  }
  @media screen and (min-width: $desktop) {
    margin-top: 60px;
  }
}
.btn:not(:last-child) {
  margin-right: 15px;
  @media screen and (min-width: $tablet) {
    margin-right: 40px;
  }
  @media screen and (min-width: $desktop) {
    margin-right: 60px;
  }
}
.btn:hover,
.btn:focus {
  box-shadow: $decoration-color;
  background-color: $text-accent-color;
  color: black;
  cursor: pointer;
  box-shadow: 2px 8px 6px rgba(220, 86, 197, 0.8),
    0px -5px 35px rgba(220, 86, 197, 0.3);
}

.modal-button {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  border: none;
  fill: $white;
  border-radius: 50%;
  right: 8px;
  top: 8px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal-button:hover,
.modal-button:focus,
.modal-button:active {
  border: none;
  /* outline: none; */
  box-shadow: none;
  fill: $text-accent-color;
}

.modal__auth_close {
  width: 17px;
  height: 17px;
  top: 25px;
  right: 25px;

  @media screen and(min-width: $desktop) {
    width: 25px;
    height: 25px;
    top: 30px;
    right: 30px;
  }
}

.modal__auth_close:hover,
.modal__auth_close:focus {
  color: #939393;
  background-color: #dc56c5;
  box-shadow: 2px 8px 6px rgba(220, 86, 197, 0.8),
    0px -5px 35px rgba(220, 86, 197, 0.3);
}
