<header class="header overlay">
    <div class="container no-position">
        <img src="../../../images/header/logo.svg" class="logo" alt="">
        <h1 class="header-title">FIND BEST EVENTS<br>AROUND THE WORLD</h1>
        <div class="search-container">

            <form action="" class="search-form">
                <input type="text" name="query" autocomplete="off" placeholder="Start searching" class="search-field js-search-input" />
                <button type="submit" class="search-btn">
                    <img src="../../../images/header/search-icon.svg" width="12px" height="12px" alt="">

                </button>
            </form>

            <select class="search-field choose-country js-country-select" placeholder="Choose country">
                <option value="0">Choose country</option>
                <option value="US">United States Of America</option>
                <option value="CA">Canada</option>
            </select>
            {{!-- <form action="" class="search-form">
                <input type="text" name="query" autocomplete="off" placeholder="Choose country" class="search-field" />

                <button type="submit" class="search-btn">
                    <img src="../../../images/header/polygon.svg" width="15px" height="10px" alt="">
                </button>
            </form> --}}
        </div>
        <div class="personal-account-container js-personal-account">
            <button type="button" class="search-field personal-button js-events-btn">My events</button>
            <button type="button" class="search-field personal-button js-tickets-btn">My tickets</button>
        </div>


        <div class="registration header-auth">
        </div>
    </div>
</header>