{{!-- <div class="modal js-modal">
    <div class="modal__overlay"></div>
    <div class="modal__content"></div>
    <button type="button" class="modal__button" data-action="close-modal"></button>
</div> --}}

<div class="modal__overlay  is-hidden js-modal" >
    {{!-- <div class="modal"> --}}
            <div class="modal__content "></div>
            <button type="button" class="modal__button" data-action="close-modal"></button>
    {{!-- </div> --}}
</div>