.event__modal__container {
  position: relative;
  background-color: $modal-background-color;

  @media screen and(min-width: $mobile) {
    width: 272px;
    height: 915px;
    border-radius: 150px 0px;
  }
  @media screen and(min-width: $tablet) {
    width: 595px;
    height: 831px;
    border-radius: 300px 0px;
  }

  @media screen and(min-width: $desktop) {
    width: 930px;
    height: 1023px;
  }
}

.event__image__small {
  height: 177px;
  padding-top: 75px;
  padding-left: 86px;
  padding-right: 84px;

  @media screen and(min-width: $tablet) {
    height: 98px;
    padding-top: 28px;
    padding-left: 263px;
    padding-right: 262px;
  }
  @media screen and(min-width: $desktop) {
    height: 194px;
    padding-top: 62px;
    padding-left: 399px;
    padding-right: 399px;
  }
}

.modal__poster__small {
  border-radius: 100px;
  border: 1px solid $button-accent-color;
  @media screen and(min-width: $mobile) {
    width: 102px;
    height: 102px;
  }

  @media screen and(min-width: $tablet) {
    width: 70px;
    height: 70px;
  }
  @media screen and(min-width: $desktop) {
    width: 132px;
    height: 132px;
  }
}

.modal__event__information {
  display: flex;
  margin: auto;

  //   height: 696px;
  padding-left: 12px;
  padding-right: 17px;
  padding-top: 18px;
  padding-bottom: 25px;
  @media screen and(min-width: $tablet) {
    padding-left: 50px;
    padding-top: 43px;
    padding-bottom: 43px;
  }
  @media screen and(min-width: $desktop) {
    height: 727px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 41px;
    padding-bottom: 45px;
  }
}

.modal__image_poster {
  display: none;
  object-fit: contain;
  object-position: contain;

  @media screen and(min-width: $tablet) {
    display: flex;
    width: 263px;
  }

  @media screen and(min-width: $desktop) {
    width: 420px;
    height: 641px;
  }
}

.image__poster {
  display: none;

  @media screen and(min-width: $tablet) {
    display: block;
    width: 233px;
    height: 416px;
    border: 1px solid $button-accent-color;
  }

  @media screen and(min-width: $desktop) {
    width: 360px;
    height: 641px;
  }
}

.modal__event__details {
  width: 243px;

  @media screen and(min-width: $tablet) {
    width: 265px;
  }

  @media screen and(min-width: $desktop) {
    width: 450px;
    height: 641px;
  }
}

.modal__event__details__title {
  color: rgba(220, 86, 197, 1);
  font-family: $primary-font;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
  text-align: center;
  margin-bottom: 5px;

  @media screen and(min-width: $tablet) {
    text-align: left;
  }

  @media screen and(min-width: $desktop) {
    font-size: 24px;
    margin-bottom: 7px;
  }
}

.modal__event__info__text {
  height: 100px;

  @media screen and(min-width: $desktop) {
    height: 66px;
  }
}

.modal__event__info {
  color: $main-background-object-color;
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 10px;
  text-align: center;
  text-transform: none;

  @media screen and(min-width: $tablet) {
    text-align: left;
  }

  @media screen and(min-width: $desktop) {
    font-size: 18px;
    line-height: 1.23;
    margin-bottom: 20px;
  }
}

.modal__event__info_where {
  margin-bottom: 3px;

  @media screen and(min-width: $desktop) {
    margin-bottom: 5px;
  }
}
.modal__barcode_standart_vip {
  display: flex;
  justify-content: center;

  @media screen and(min-width: $tablet) {
    justify-content: start;
  }
}

.modal__barcode {
  margin-right: 13px;
  width: 24px;
  height: 16px;
}

.modal__event__button {
  width: 145px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  background-color: $button-accent-color;
  color: #ffffff;
  border-radius: 5px;
  line-height: 1.25;
  margin-left: 52px;
  margin-right: 46px;

  @media screen and(min-width: $tablet) {
    margin: 0;
  }
}
.modal__event__button:hover,
.modal__event__button:focus {
  background-color: #2e009a;
}

.btn__standart {
  margin-bottom: 20px;

  @media screen and(min-width: $desktop) {
    margin-bottom: 31px;
  }
}

.modal__event__button__down {
  padding-right: 23px;
  padding-left: 25px;

  @media screen and(min-width: $tablet) {
    padding-right: 170px;
    padding-left: 170px;
  }

  @media screen and(min-width: $desktop) {
    display: flex;
    justify-content: space-between;
    padding-right: 227px;
    padding-left: 70px;
  }
}

.modal__event__button__more {
  width: 230px;
  height: 40px;
  background-color: $modal-background-color;
  border: 1px solid $button-accent-color;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  color: $button-accent-color;
  text-align: center;
  line-height: 1.25;
  margin-bottom: 10px;

  @media screen and(min-width: $tablet) {
    width: 255px;
  }

  @media screen and(min-width: $desktop) {
    margin-bottom: 0;
  }
}

.modal__event__button__save {
  width: 200px;
  height: 40px;
  background-color: $modal-background-color;
  border: 1px solid $button-accent-color;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  color: $button-accent-color;
  text-align: center;
  line-height: 1.25;

  @media screen and(min-width: $tablet) {
    width: 170px;
  }

  @media screen and(min-width: $desktop) {
    width: 255px;
  }
}

.modal__event__button__more:hover,
.modal__event__button__more:focus {
  background-color: #dc56c5;
}

.modal__event__button__save:hover,
.modal__event__button__save:focus {
  background-color: #dc56c5;
}

.modal__event_close {
  width: 17px;
  height: 17px;
  top: 25px;
  right: 25px;

  @media screen and(min-width: $desktop) {
    width: 25px;
    height: 25px;
    top: 30px;
    right: 30px;
  }
}

.modal__event_close:hover,
.modal__event_close:focus {
  background-color: #2e009a;
}

.modal__event__button--active {
  background-color: #dc56c5;
}
