.footer{

    background-color: inherit;
    text-transform: initial;
    margin-top: 80px;
        
   &-container{
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;

    padding-bottom: 19px;

    font-size: 14px;
    line-height: 1.2;
    color: $decoration-color;
    
   }

}

.team-link{
    @extend %link;
    color: inherit;
}